.sellingHead {
  background-image: linear-gradient(to right, #2e19ec, #f12409, #e1fa06);
  height: 150px;
  width: 100%;
  border-radius: 10px;

}

.modelProduct {
  border: 1px solid white;
  border-radius: 22px;
  margin-left: 20%;
}

div div .removeNewinput {
  height: auto;
  width: auto;
  background-color: red;
}