<div>
    <div class="resetdiv">
        <h2 class="text-center text-danger"> Reset password</h2>
        <form action=" " [formGroup]="resetForm">
            <div class="resetformdiv">
                <div>
                    <label for="" class="form-label"> Email</label>
                    <input type="text" class="form-control w-75" name="" id="" placeholder="enter mail"
                        formControlName="mail">
                    <p *ngIf="resetForm.get('mail')?.touched  && !resetForm.get('mail')?.valid "  class="text-danger">Invalid email</p>
                </div> <br>
                <div>
                    <label for="" class="form-label"> Password</label>
                    <input type="password" class="form-control w-75" placeholder="enter password"
                        formControlName="resetPswd">
                    <p class="text-danger" 
                    *ngIf="resetForm.get('resetPswd')?.hasError('required') && resetForm.get('resetPswd')?.touched">
                    Enter Password here</p>
                    <p class="text-danger" *ngIf="resetForm.get('resetPswd')?.hasError('minlength') && resetForm.get('resetPswd')?.touched">
                    Minimum length is 6 characters</p>
                </div> <br>
                <div>
                    <label for="" class="form-label"> Confirm Password</label>
                    <input type="password" name="" class="form-control w-75" id="" placeholder="confirm password"
                        formControlName="confirmPswd">
                    <p class="text-danger" *ngIf="resetPswd?.value!=confirmPswd?.value && resetForm.get('confirmPswd')?.touched"> Password
                        did not match </p>
                </div>
                <br>
                <div class="d-flex">
                    <button class="btn btn-danger" (click)="tologin()"> Cancel </button>
                    <button class="btn btn-success ms-5" (click)="resetPassword()">Reset</button>
                </div>
            </div>
        </form>
    </div>

</div>