<div class="container">

    <div>
        <div *ngFor="let sellProduct of lsForSellProduct; let i=index" class=" forProduct">
            <div>
                <img src={{sellProduct.image}} alt="image" class="productImg" 
                    data-bs-toogle="modal" data-bs-target="#myCarousel" (click)="showCarouselPopup(myCarousel)" >
                  
                <br><b> {{sellProduct.title}} </b> <br>
                <i>Price: <b> {{sellProduct.price}}  $ </b></i>
                
              <div class="d-flex">
                
                <p> <button class="btn btn-primary  text-center ms-4">Buy</button> </p>
                <p> <button class="btn btn-primary  text-center ms-4" (click)="addItemtoCart(i)"> 
                  <fa-icon [icon]="faCartIcon" style="font-size:15px; color: black; " class="me-2"> </fa-icon>Add Cart</button> </p>
              </div>
                <!-- <p> <button class="btn btn-primary w-75 text-center ms-4">Buy</button> </p>
                <p> <button class="btn btn-primary w-75 text-center ms-4">Add to Cart</button> </p> -->
            </div>
        </div>
    </div>
</div>

<ng-template #myCarousel let-modal >
  
    <ngb-carousel *ngIf="carouselImg">
        <ng-template ngbSlide>
            <div  >
                <img [src]="carouselImg[0]" alt="Random first slide"  class="carouselImg">
            </div>
            <div  >
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div  >
                <img [src]="carouselImg[1]" alt="Random second slide" class="carouselImg">
            </div>
            <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="carouselImg[2]" alt="Random third slide" class="carouselImg">
            </div>
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="carouselImg[3]" alt="Random third slide" class="carouselImg" />
            </div>
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
    </ngb-carousel>
    
    

</ng-template>







