<div class="container">
    
    <h6 class="text-white fs-6 text-center mt-3 bg-black rounded-pill"> Do Your 𝒮𝒽𝑜𝓅𝓅𝒾𝓃𝑔 with Happyness </h6>

    <h1 class="text-black fs-1 text-center mt-3 sellProHeader"> ☞ó ͜つò☞ 𝓢𝓮𝓵𝓵 𝓟𝓻𝓸𝓭𝓾𝓬𝓼 </h1>
   
    <div class="d-flex mt-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGThia58rBl2fEO26emVyePy40hj1MQUokEg&usqp=CAU"
                alt="All" class="categoryImgLink" (click)="categoryFilter('all')">
                <img src="https://media.istockphoto.com/id/1249381950/vector/various-smiling-and-laughing-happy-emoticons.jpg?b=1&s=612x612&w=0&k=20&c=8xc8KO8Q_AcDnPiAoK4hVK2cW2Dxtnh98oDGX-s-Kv8="
                alt="smiley" class="categoryImgLink" (click)="categoryFilter('smiley')">
            <img src="https://icon2.cleanpng.com/20180517/wbq/kisspng-flowerpot-houseplant-window-blinds-shades-5afe33c897e3b1.3238765115266088406221.jpg"
                alt=" desk plant" class="categoryImgLink" (click)="categoryFilter('desk plant')">
            <img src="https://media.istockphoto.com/id/1079117394/photo/great-sneaker.jpg?s=612x612&w=0&k=20&c=fJC7xIo9Umddw2TMF7nyUFHIThbi4zV2zvoXEIevRUI="
                alt="Shoe" class="categoryImgLink" (click)="categoryFilter('shoes')">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5MJT_2_0ULEbuqlq_4trJoU0eCPXmb9izHg&usqp=CAU"
                alt="t-SHirt" class="categoryImgLink" (click)="categoryFilter('tshirts')">
            <img src="https://bd.gaadicdn.com/processedimages/bajaj/bajaj-pulsar-200-ns/494X300/bajaj-pulsar-200-ns61543f2cb9722.jpg?impolicy=resize&imwidth=360"
                alt="bike" class="categoryImgLink" (click)="categoryFilter('bikes')">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1BoGo9TEZqtQXzs1ymYa-TqNsOr8W42g0voiWqW3bqIVi1EA7QIUaCEa6hdA3L6qiTd8&usqp=CAU"
                alt="mobile" class="categoryImgLink" (click)="categoryFilter('mobiles')">
        
    </div>
   
    <div class="mt-5">
        <div *ngFor="let sellProduct of lsForSellProduct; let i=index" class="forProduct">
            <div>
                <img src={{sellProduct.pro_url[0].urls}} alt="image" class="productImg" data-bs-toogle="modal"
                    data-bs-target="#myCarousel" (click)="showCarouselPopup(myCarousel,i)"
                    ngbPopover="Click to see more images" triggers="mouseenter:mouseleave">
                <br><b> {{sellProduct.pro_name}} </b> <br>
                <i>Price: <b> {{sellProduct.Sellers[0].sell_price}} $ </b></i>
                <div class="d-flex">
                    <!-- below tag is used to display in the form of MOdal popup -->
                    <!-- <p>
                     <button class="btn btn-warning ms-1" (click)="showItemDetails(Item_Detils,i)" 
                    data-bs-toogle="modal" data-bs-target="#Item_Detils" ngbPopover="click to show details" triggers="mouseenter:mouseleave" >Details</button>
                 </p> -->
                    <p>
                        <button class="btn btn-warning ms-1" ngbPopover="click to show details"
                            triggers="mouseenter:mouseleave" (click)="seeProductDetails(i)"> Details </button>
                    </p>
                    <p> <button class="btn btn-success  text-center ms-4">Buy</button> </p>
                    <p> <button class="btn btn-primary  text-center ms-2" (click)="addItemtoCart(i)"
                            ngbPopover="Add to cart" triggers="mouseenter:mouseleave">
                            <fa-icon [icon]="faCartIcon" style="font-size:15px; color: black; " class="me-2">
                            </fa-icon></button> </p>
                </div>
            </div>
        </div>

    </div>
</div>

<ng-template #myCarousel let-modal>

    <ngb-carousel *ngIf="carouselImgArr">
        <ng-template ngbSlide>
            <div>
                <img [src]="carouselImgArr[0]" alt="" class="carouselImg">

                <h3>Image 1 Title</h3>
                <p>Its escription</p>
            </div>
        </ng-template>
        <ng-template ngbSlide *ngIf="carouselImgArr[1]">
            <div>
                <img [src]="carouselImgArr[1]" alt="Unable to show img" class="carouselImg">

                <h3>Second slide </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide *ngIf="carouselImgArr[2]">
            <div>
                <img [src]="carouselImgArr[2]" alt="Unable to show img" class="carouselImg">

                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide *ngIf="carouselImgArr[3]">
            <div>
                <img [src]="carouselImgArr[3]" alt="Unable to show img" class="carouselImg" />

                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide *ngIf="carouselImgArr[4]">
            <div>
                <img [src]="carouselImgArr[4]" alt="Unable to show img" class="carouselImg" />

                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide *ngIf="carouselImgArr[5]">
            <div>
                <img [src]="carouselImgArr[5]" alt="Unable to show img" class="carouselImg" />

                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
    </ngb-carousel>



</ng-template>


<!-- Below one is showing for Item details -->

<ng-template #Item_Detils let-modal>

    <div>
        <aside>
            <div *ngFor="let seller of sellers; let i=index" class="ms-2 me-1">
                <h2 class="text-center text-danger"> Seller {{i+1}} </h2>
                <div class=" text-black">
                    <p>Brand : <b class="bg-warning">{{seller.sell_brand}}</b></p>
                    <p> <small>Description:</small> <i>{{seller.sell_desc}}</i> </p>
                    <div class="d-flex">
                        <p> Price:<b class="bg-warning"> {{seller.sell_price}} </b> </p>
                        <button class="btn btn-primary  text-center ms-4" (click)="addItemtoCartSellers(i)"
                            ngbPopover="add to cart" triggers="mouseenter:mouseleave">
                            <fa-icon [icon]="faCartIcon" style="font-size:15px; color:black; " class="me-2">
                            </fa-icon></button>
                    </div>
                    <hr>
                </div>
            </div>
        </aside>

        <div *ngIf=" itemDetails" class=" forProduct">

            <div>
                <img src={{itemDetails.pro_url[0].urls}} alt="image" class="productImg">

                <br><b> {{itemDetails.pro_name}} </b> <br>
                <i>Price: <b> {{itemDetails.Sellers[0].sell_price}} $ </b></i>

            </div>
        </div>

    </div>

</ng-template>

<div>
    <button class=" goTop" (click)="goTop()">
        <fa-icon [icon]="arrowUp" style="font-size:15px; color: black; "> </fa-icon>
    </button>
</div>