

.forProduct{
    height: 300px;
    width: 250px;
    background-color:white;
    margin-left: 4%;
    margin-top: 1%;
    border-radius: 22px;
    display: inline-block;
}

.productImg{
    height: 170px;
    width: 100%;
    border-radius: 20px;
margin-top: 33%;
}
.carouselImg{
    height: 50%;
    width: 100%;
}

aside{
    width: 38%;
    float: right;
    font-style: italic;
    margin-left: 25px;
    border-radius: 20px;
    border-left: 3px ridge rgb(6, 9, 177);
}




