
<!-- <app-navbar> </app-navbar> -->

<div>
    <div class="fornav">
        <div>
            <a class="nav-link" routerLink="" routerLinkActive="routerActive">Home</a>

        </div>
        <div>
            <a class="nav-link" routerLink="/login" routerLinkActive="routerActive">LogIn</a>

        </div>
        <div>
            <a class="nav-link" routerLink="/signup" routerLinkActive="routerActive">SignUp</a>

        </div>
        <div>
            <a class="nav-link" routerLink="" routerLinkActive="routerActive">Extra</a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
