<div class="adminbg">
    <div class="welcome">
        <h1>Wel-Come</h1>
       
    </div>
    <div class="admin">
        <h1>ADMIN</h1>
    </div>
    
    <div class="admin_form">
        <form action="" [formGroup]="adminLogin">
            <input type="text" placeholder="ADMIN  your mail" formControlName="admin_mail" class="form-control w-75 ps-5 pe-3"> <br>
            <input type="password" placeholder="Admin your password" formControlName="admin_pswd" class="form-control w-75 ps-5 pe-4 ">
        </form>
        <div>
            <button class="btn btn-outline-success ms-5">Submit</button>
        </div>
    </div>
</div>
