<div class="container Detailshead">

    <div>
        <aside>
            <div class="sellerScroll">
                <div *ngFor="let seller of sellers;let i=index" class="ms-2 me-1">
                    <h2 class="text-center text-danger"> Seller {{i+1}} </h2>
                    <div class=" text-black">
                        <p>Brand : <b class="bg-warning">{{seller.sell_brand}}</b></p>
                        <p> <small>Description:</small> <i>{{seller.sell_desc}}</i> </p>
                        <div class="d-flex">
                            <p> Price:<b class="bg-warning"> {{seller.sell_price}} </b> </p>
                            <button class="btn btn-primary  text-center ms-4" (click)="addItemtoCartSellers(i)"
                                ngbPopover="add to cart" triggers="mouseenter:mouseleave">
                                <fa-icon [icon]="faCartIcon" style="font-size:15px; color:black; " class="me-2">
                                </fa-icon></button>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>

        </aside>

        <div *ngIf=" prod_Details">

            <div>
                <img src={{prod_Details.pro_url[0].urls}} alt="image" class="forimage">

                <br><b> {{prod_Details.pro_name}} </b> <br>
                <i>Price: <b> {{prod_Details.Sellers[0].sell_price}} $ </b></i>

            </div>
        </div>

    </div>

</div>