<div class="maindiv">
    <!-- <div class="container sellingHead">
        <h2 class="text-center pt-5 fs-2"> Selling Products</h2>
    </div> -->
    <div class="container d-flex sellingdiv">
        <div>
            <button class="btn btn-primary text-black">  
                <a routerLink="addsellproduct" routerLinkActive="routerActive" class="text-white"> Add Sell Product</a>
            </button>
        </div>
        <div>
            <button class="btn btn-danger rounded-circle ms-5">  
                <a routerLink="viewsellproduct" routerLinkActive="routerActive" class="text-white ">See Sell Product</a>
            </button>
        </div>
    </div>

</div>

<router-outlet></router-outlet>
