<div class="divbody">
    <p></p>
    <div class="container producthead">
        <h1 class="quote">Shopping means</h1>
        <i>Not only Leave the stress n anxiety. Its a way showing LOVE towards the Loved One's </i>
    </div>
    <div class="categories">
        <div> <button class="btn btn-primary">ALL</button> </div>
        <div> <button class="btn btn-primary">Men</button> </div>
        <div><button class="btn btn-primary">Women</button> </div>
    </div>

    <div class=" forProduct">
        <ng-container *ngFor="let product of myProducts">
            <img src={{product.image}} alt="image" class="productImg">
            <p><b>{{product.title}}</b></p>
            <i>Price: <b>{{product.price}}</b></i>
            <!-- <b> Rating: {{product.rate}}</b> -->
        </ng-container>

    </div>
</div>