
<div class="container">
    <div class="forProduct">
        <div>
            <img src={{myproducts[indexFromProduct].image}} alt="image" class="productImg">
            <br><b>{{myproducts[indexFromProduct].title}}</b> <br>
            <i>Price: <b>{{myproducts[indexFromProduct].price}} $ </b></i>
            <b class="ms-4"> Rating: {{myproducts[indexFromProduct].rating.rate}}</b>

        </div>
</div>


<!-- <div>
    <img src={{myproducts[indexFromProduct].image}} alt="image" class="pro_Details">
    <br><b>{{myproducts[indexFromProduct].title}}</b> <br>
    <i>Price: <b>{{myproducts[indexFromProduct].price}} $ </b></i>
    <b class="ms-4"> Rating: {{myproducts[indexFromProduct].rating.rate}}</b>
</div> -->