<div class="container logoutbg">
    <div class="logout">
        <div class="card-body ">
            <h2 class="card-title">Are you sure to logout</h2>
            <div class="d-flex mt-5">
                <div>
                    <img src="https://thumbs.dreamstime.com/b/cancel-button-illustration-vector-decorative-background-design-183799306.jpg"
                        alt="cancel" class="logoutimg  card-img img-fluid rounded-circle" (click)="toProducts()">
                </div>
                <div>
                    <img src="https://st2.depositphotos.com/4103319/6625/i/950/depositphotos_66251761-stock-photo-logout-circular-icon-on-white.jpg"
                        alt=" Logout" class="logoutimg card-img  ms-3 me-1 text-center img-fluid rounded-circle"
                        (click)="logout()">
                </div>
            </div>
        </div>
    </div>

    </div>

    <!-- <div class="bg-secondary">
        <div class="container mt-5 text-center">
            <h3 class="mb-5 fs-1 text-white">Angular Image Crop Example</h3>
            <div class="col-md-12">
              <input type="url" (change)="onFileChange($event)" />
            </div>
            <div class="col-md-8">
              <image-cropper 
                [imageChangedEvent]="imgChangeEvt" 
                [maintainAspectRatio]="true" 
                [aspectRatio]="4 / 4"
                [resizeToWidth]="512" 
                format="png" 
                (imageCropped)="cropImg($event)" 
                (imageLoaded)="imgLoad()"
                (cropperReady)="initCropper()" 
                (loadImageFailed)="imgFailed()">
              </image-cropper>
            </div>
            <div class="col-md-4 bg-danger ">
              <h6 class="text-white fs-3">Image Preview</h6>
              <img [src]="cropImgPreview" />
            </div>
           
          </div>
    </div> -->

