<div class="bgimg   visible-xs visible-sm visible-md img-fluid">
    <section>
        <!-- <img src="https://images.pexels.com/photos/3643925/pexels-photo-3643925.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="rounded float-end"> -->
    </section>
    <h1>Wel-Come</h1>
    <img src="https://img.freepik.com/free-vector/banner-online-shopping-with-gift-platform-cart-with-shopping-bag-isolated-white-background-vector-illustration_548887-187.jpg?w=1060&t=st=1672738102~exp=1672738702~hmac=6c7c3dc74444329136f94e6a1dfcab4ae7b5ced005f7a7926101d5940ee9a5e5" alt="" class="img-fluid h-auto w-auto bg-primary">


</div>
